* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    background-color: darkorange;
}

.header {
    width: 80%;
    height: auto;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 6px 2px;
}

.header h1 {
    height: 30px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
}

.header ul {
    height: 30px;
    display: flex;
    list-style: none;
    gap: 10px;
}

.header ul li {

}

.header ul li a {
    color: darkorange;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
}