* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    width: 80%;
    height: auto;
    background-color: blueviolet;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 6px 2px #4a4040;
}

.header h1 {
    height: 40px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
}

.header ul {
    height: 30px;
    display: flex;
    list-style: none;
    gap: 10px;
}

.header ul li {

}

.header ul li a {
    color: gold;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
}

.main {
    width: 80%;
    height: 55vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: blueviolet;
    box-shadow: 0px 0px 6px 2px #4a3131;
}

.main h2 {
    padding: 10px;
    color: white;
    font-weight: 800;
    font-size: 2.8rem;
    text-align: center;
}

.main p {
    margin: 10px;
    font-size: 1.8rem;
    text-align: center;
}

.main a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: gold;
    color: black;
}

.footer {
    margin-top: 20px;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    font-size: 1.5rem;
    font-weight: 500;
}